html {
    height: 100%;
    width: 100%;
    margin: 0%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

.top {
    height: 7%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
}

.options {
    width: 60%;
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    right: 5%;
    top: 1%;
}

.bottom {
    height: 93%;
    width: 100%;
}

.login-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 44%;
}

.login-button-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.good_button {
    height: 100%;
    width: 38%;
    font-family: monospace;
}

.register-wrapper {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 44%;
}

.register-button-container {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.login-form {
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-top: 5%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(black, purple);
    border: magenta 1px solid;
    opacity: 0;
    transition: opacity 0.25s;
}

.register-form {
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-top: 5%;
    height: 60%;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(black, purple);
    border: magenta 1px solid;
    opacity: 0;
    transition: opacity 0.25s;
}

.settings {
    color: white;
}

.inputs {
    width: 69%;
    height: 14%;
    border: 1px solid magenta;
    font-family: monospace;
}

.submit-button {
    height: 15%;
    width: 42%;
}

.opacity {
    opacity: 1;
}

.no_display {
    display: none;
}

.magenta {
    background-image: linear-gradient(black, magenta);
}

.settings {
    display: none;
    flex-direction: row;
    height: 75%;
    justify-content: space-evenly;
    width: 7%;
}

.settings_name {
    color: white;
}

.icon_container {
    height: 100%;
}

.icon {
    height: 100%;
}